div.drawer {
	margin-top: 35px;
	width: 100%;
	clear: both;
	padding-top: 20px;
	border-top: 1px solid rgba(0, 0, 0, 0.05);
}




form.publishfiltering select {
	width: auto;
	display: inline-block;
}

form.publishfiltering .field {
	min-height: 0;
}

form.publishfiltering .field,
form.publishfiltering input[type="text"],
form.publishfiltering input[type="submit"],
form.publishfiltering select,
form.publishfiltering button {
	margin: 0 5px 0 0;
}

form.publishfiltering .field {
	margin-left: 0;
}

form.publishfiltering .value {
	margin: 0;
	width: 25em;
}

form.publishfiltering input.apply {
	float: none;
}

form.publishfiltering button.clear {
	padding: 0;
	background: none;
	border: none;
	color: #aaa;
	cursor: pointer;
	float: none;
	-moz-box-shadow: none;
	box-shadow: none;
	margin: 0 0 0 5px;
}

form.publishfiltering button.clear:hover {
	color: #666;
}